#form_page
  = form_for @credit_note do |f|
    = render 'validation_errors', object: @credit_note
    #two_panel_form
      #main_panel

        = field_set_tag 'Company' do
          .field
            = f.label :company_id, "Supplier"
            = f.collection_select :company_id, Company.all, :id, :name, prompt: 'Please select the company'
          .field
            = f.label :notes
            = f.text_area :notes


      #side_panel
        - if current_user.admin?
          = field_set_tag 'Accounts only' do
            .field
              = f.label :status
              = f.select :status, PurchaseOrder.statuses.keys.map { |s| [s.humanize, s] }

    .actions
      - if @credit_note.new_record?
        = f.submit "Save and Add Products", data: {disable_with: 'Creating Purchase Order...'}
      - else
        = f.submit :submit