#print_page
  .header.address_header
    = image_tag 'bw_logo.png'
    .order.with_address
      %h2 Credit Note
      %p
        Business First Solutions Ltd.
        %br
        33a Whiffler Rd
        %br
        Norwich
        %br
        Norfolk
        %br
        NR3 2AW

  #split_fieldset_holder
    = field_set_tag 'Company' do
      = "#{@credit_note.company.try(:name)}"
      = render_address @credit_note.company.try(:address)
    = field_set_tag 'Information' do
      = "Ordered by: #{@credit_note.user.try(:name)}"
      %br
      = "Ordered date: #{@credit_note.created_at.strftime('%D')}"
      %br
      = "PO Number: #{@credit_note.id}"
    = field_set_tag 'Status' do
      = 'Recieved Goods' if @credit_note.received_goods?
      = 'Received Invoice' if @credit_note.received_invoice?
      = 'Under Query' if @credit_note.under_query?
      = "Payment type: #{@credit_note.payment_type}"

  = field_set_tag 'Products' do
    %table.invoice_request_products
      %thead
        %tr
          %th Item
          %th Quantity
          %th Unit Price
          %th Line Total
          %th Additional Line Info
      - @credit_note.products.each do |product|
        %tr
          %td= product.name
          %td= product.quantity
          %td= number_to_currency product.price
          %td= number_to_currency product.line_total
          %td= product.notes