= link_to '+ New Purchase Order', new_purchase_order_path

.right_buttons
  = link_to 'All', url_for
  = link_to 'Active', url_for(status: 'active')
  = link_to 'Complete', url_for(status: 'complete')

  = link_to 'Account', url_for(payment_type: 'account')
  = link_to 'Credit Card', url_for(payment_type: 'credit_card')
  = link_to 'Other', url_for(payment_type: 'other')

