- provide :title, "Purchase Orders"




#filters

  .filter_group
    = link_to 'Account', url_for(filter_params.merge(payment_type: 'account'))
    = link_to 'Credit Card', url_for(filter_params.merge(payment_type: 'credit_card'))
    = link_to 'Other', url_for(filter_params.merge(payment_type: 'other'))

  .filter_group
    = form_tag url_for(filter_params), method: :get do
      = select_tag :company_name, options_from_collection_for_select(Company.all, :alias, :alias), prompt: '-- Filter by Company --'
      = submit_tag :filter



%table
  %thead
    %tr
      %th No.
      %th Raised By
      %th Date
      %th Supplier
      %th Payment Type
      %th Status
  %tbody
    - @purchase_orders.each do |purchase_order|
      %tr
        %td= link_to purchase_order.id, purchase_order
        %td= purchase_order.user.try(:name)
        %td= purchase_order.created_at.strftime('%D')
        %td= purchase_order.company.try(:alias)
        %td= purchase_order.payment_type.humanize
        %td= purchase_order.display_status

= will_paginate if @purchase_orders.size > 0