- provide :title, "Purchase Orders"

%table
  %thead
    %tr
      %th No.
      %th Raised By
      %th Date
      %th Supplier
      %th Payment Type
      %th Status
  %tbody
    - @purchase_orders.each do |po|
      %tr
        %td= po.id
        %td= po.user.try(:name)
        %td= po.created_at.strftime('%D')
        %td= po.company.try(:name)
        %td= po.payment_type
        %td= po.display_status