- provide :title, "Purchase Order ##{@purchase_order.id}"

#display_page
  #show_actions
    = link_to 'Edit', edit_purchase_order_path(@purchase_order)
    = link_to "Print", "javascript:frames['frame'].print()", class: 'minor_button'
    %iframe.hidden{src: print_purchase_order_path(@purchase_order), name: "frame"}
  #column_layout
    .even_column
      = field_set_tag 'Company' do
        = "#{@purchase_order.company.try(:name)}"
        = render_address @purchase_order.company.try(:address)
    .even_column
      = field_set_tag 'Information' do
        %b Ordered by:
        = @purchase_order.user.try(:name)
        %br
        %b Ordered date:
        = @purchase_order.created_at.strftime('%D')
        %br
        %b PO Number:
        = @purchase_order.id
    .even_column
      = field_set_tag 'Status' do
        %b Status:
        = @purchase_order.display_status
        %br
        %b Payment type:
        = @purchase_order.payment_type

  %table.invoice_request_products
    %thead
      %tr
        %th Item
        %th Quantity
        %th Unit Price
        %th Line Total
        %th Additional Line Info
    - @purchase_order.products.each do |product|
      %tr
        %td= product.name
        %td= product.quantity
        %td= number_to_currency product.price
        %td= number_to_currency product.line_total
        %td= product.notes
  #table_actions
    = link_to '+ Add Item', new_purchase_order_product_path(@purchase_order), remote: true