- 2.times do
  #print_page.delivery_note
    .header
      = image_tag 'bw_logo.png'
      .order
        Delivery Note

    #split_fieldset_holder.dual_split
      = field_set_tag 'Dispatch' do
        = "Att. of #{@delivery_note.attention_of}"
        %br
        = @delivery_note.company.try(:name)
        = render_address @delivery_note.dispatch_address
      = field_set_tag 'Details' do
        %b DL Number:
        = @delivery_note.id
        %br
        %b Date:
        = @delivery_note.created_at.try{strftime('%D')}

    %table.invoice_request_products
      %thead
        %tr
          %th Item
          %th Quantity
          %th Additional Line Info
      - @delivery_note.products.each do |product|
        %tr
          %td= product.name
          %td= product.quantity
          %td= product.notes

#signing_area
  .sign
    %label Customer Signature:
  .sign
    %label Customer Name:
  .sign
    %label Date: