- provide :title, "Companies"




%table
  %thead
    %tr
      %th Company
      %th Alias
      %th

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.alias
        %td.table_actions
          = link_to 'Edit', [:edit, company]
          = link_to 'Delete', company, :method => :delete, :data => { :confirm => 'Are you sure?' } if current_user.admin?
= will_paginate