- provide :title, "Invoice Requests"

#filters

  .filter_group
    = form_tag url_for(filter_params), method: :get do

      = select_tag :company_name, options_from_collection_for_select(Company.all, :name, :name), prompt: '-- Filter by Company --'
      = submit_tag :filter

%table
  %thead
    %tr
      %th No.
      %th Created By
      %th Company
      %th Status
      %th Date
      %th
  %tbody
    - @invoice_requests.each do |invoice_request|
      %tr
        %td= link_to invoice_request.id, invoice_request

        %td= invoice_request.user.try(:name)
        %td= invoice_request.company.try(:name)
        %td= invoice_request.status.humanize
        %td= invoice_request.created_at
        %td.table_actions
          = link_to 'Delete', invoice_request, method: :delete, data: { confirm: 'Are you sure?' }

= will_paginate
