- provide :title, "Invoice Requests"


#scope_container
  #scope_container_inner


= will_paginate

%table
  %thead
    %tr
      %th No.
      %th Created By
      %th Company
      %th Status
      %th Date
  %tbody
    - @invoice_requests.each do |invoice_request|
      %tr
        %td= link_to invoice_request.id, invoice_request

        %td= invoice_request.user.try(:name)
        %td= invoice_request.company.try(:name)
        %td= invoice_request.status.humanize
        %td= invoice_request.created_at.strftime('%D')

= console