- provide :title, "Invoice Request ##{@invoice_request.id}"

#display_page
  #show_actions
    - if @invoice_request.active?
      = link_to 'Mark Complete', complete_invoice_request_path(@invoice_request) if current_user.sub_admin?
      = link_to 'Edit', edit_invoice_request_path(@invoice_request)
    - else
      - if current_user.admin?
        = link_to 'Open', open_invoice_request_path(@invoice_request)
    = link_to "Print", "javascript:frames['frame'].print()", class: 'minor_button'
    %iframe.hidden{src: print_invoice_request_path(@invoice_request), name: "frame"}

  #column_layout
    .even_column
      = field_set_tag 'Dispatch' do
        = "Att. of #{@invoice_request.attention_of}"
        %br
        = @invoice_request.company.try(:name)
        = render_address @invoice_request.dispatch_address
    .even_column
      = field_set_tag 'Invoice' do
        = @invoice_request.company.try(:name)
        = render_address @invoice_request.invoice_address
    .even_column
      = field_set_tag 'Infomation' do
        - if @invoice_request.company.try(:alias)
          %b Alias
          = @invoice_request.company.alias
          %br
        %b PO Number
        = @invoice_request.po_number
        %br
        %b Requested by:
        = @invoice_request.user.try(:name)
        %br
        %b Date:
        = @invoice_request.created_at.try{strftime('%D')}

  %table.invoice_request_products
    %thead
      %tr
        %th Item
        %th Quantity
        %th Unit Price
        %th Line Total
        %th Additional Line Info
        %th User
        %th Cost Code
        %th
    - @invoice_request.products.each do |product|
      %tr
        %td= product.name
        %td= product.quantity
        %td= number_to_currency product.price
        %td= number_to_currency product.line_total
        %td= product.notes
        %td= product.device_user
        %td= product.cost_code
        %td.table_actions
          = link_to fa_icon("pencil"), edit_invoice_request_product_path(@invoice_request, product), remote: true if @invoice_request.active?
          = link_to fa_icon("close"), [@invoice_request, product], method: :delete, data: { confirm: "Are you sure you want to delete this item?" } if @invoice_request.active?
  #table_actions
    = link_to 'Add Item', new_invoice_request_product_path(@invoice_request), remote: true if @invoice_request.active?