- provide :title, "Invoice Request ##{@invoice_request.id}"

#display_page
  #show_actions
    = link_to 'Edit', edit_invoice_request_path(@invoice_request)
    = link_to "Print", "javascript:frames['frame'].print()", class: 'minor_button'
    //%iframe.hidden{src: print_admin_order_path(@order), name: "frame"}

  #column_layout
    .even_column
      = field_set_tag 'Dispatch' do
        = "Att. of #{@invoice_request.attention_of}"
        = render_address @invoice_request.dispatch_address
    .even_column
      = field_set_tag 'Invoice' do
        = "PO Number: #{@invoice_request.po_number}"
        = render_address @invoice_request.invoice_address
    .even_column
      = field_set_tag 'Infomation' do
        %b Requested by:
        = @invoice_request.user.try(:name)
        %br
        %b Date:
        = @invoice_request.invoice_date.try{strftime('%D')}
        %br
        %b Device User:
        = @invoice_request.device_user
        %br
        %b Cost Code:
        = @invoice_request.cost_code

  %table.invoice_request_products
    %thead
      %tr
        %th Item
        %th Quantity
        %th Unit Price
        %th Line Total
        %th Additional Line Info
    - @invoice_request.products.each do |product|
      %tr
        %td= product.name
        %td= product.quantity
        %td= number_to_currency product.price
        %td= number_to_currency product.line_total
        %td= product.notes
