!!!
%html
  %head
    %title Portal2
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    #page_wrapper
      #sidebar
        = link_to image_tag('logo.png'), root_path, class: 'admin_logo_link'
        = render '_common/side_menu'
      #page
        #title_bar
          %h1= yield :title
        #nav_bar
          = render 'navigation_bar'
        #page_inner

          - flash.each do |k, v|
            %div{class: "alert alert-#{k}"}
              = v
          = yield